.header {
height: 65px;
background: rgb(40,52,59); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(40,52,59,1) 0%, rgba(130,140,149,1) 64%, rgba(181,189,200,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(40,52,59,1)), color-stop(64%,rgba(130,140,149,1)), color-stop(100%,rgba(181,189,200,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 64%,rgba(181,189,200,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 64%,rgba(181,189,200,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 64%,rgba(181,189,200,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 64%,rgba(181,189,200,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=1 ); /* IE6-9 */

}


.left_header {
float: left;
height: 60px;
}

.logo {
margin-top: 10px;
}

.right_header {
float: right;
height: 60px;
width: 330px;
}
.user span {
font-weight: bold;
}
.login {
height:30px;
line-height:30px;
color:#FFF;
position:relative;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
width: 200px;
float: left;
}
.login ul
{
    padding:0px;
    margin:0;
    list-style:none;
}
.login ul li
{   
    margin: 9px;
    border-right:1px solid #000000;
    float:left;
    background:#333333;
	width: 140px;
}
.login ul li a
{    color:#FFF;
    display:block;
    text-decoration:none;
    padding:0 25px;
}
.login ul li a:hover
{   background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(69,72,77,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(69,72,77,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=1 ); /* IE6-9 */
}
.register {
height:30px;
line-height:30px;
color:#FFF;
position:relative;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
width: 155px;
float: right;
margin-top: -21px;
}
.register ul
{
    padding:0px;
    margin:0;
    list-style:none;
}
.register ul li
{   
background: none repeat scroll 0 0 #333333;
    border-right: 1px solid #000000;
    float: right;
    margin-right: 10px;
    width: 140px;
}
.register ul li a
{    color:#FFF;
    display:block;
    text-decoration:none;

}
.register ul li a:hover
{ background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(69,72,77,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(69,72,77,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=1 ); /* IE6-9 */
}
